<app-header (navigate)="navigate($event)">
</app-header>
<div class="container">
  <app-recipies *ngIf="currentView === 'recipie'"></app-recipies>
  <app-shopping-list *ngIf="currentView === 'shopping'"></app-shopping-list>
  <!-- note: a local reference can be placed one any html element and they can be used inside the tempelate only that is we cannot reference them inside in out typescript code -->
  <!-- <input type="text" id="localRefernceExample" #inputvalue (keyup)="clginput(inputvalue)"> -->
  <p [appCustomDirective]="'blue'" [hoverColor]="'green'" [defaultColor]="'yellow'">Check</p>
  <ng-content>
    <!-- note: this directive is used to display the passed html from other components -->
  </ng-content>
  <!-- note: custom structural directive -->
  <!-- <div *appUnless="false">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo eius quod doloremque ducimus nihil doloribus, corporis ratione
      quas non vel, soluta dicta vero odio aliquam?</p>
  </div> -->
  <!-- gotcha: ng-switch -->
  <!-- <div [ngSwitch]="2">
    <p *ngSwitchCase="1">value is 1</p>
    <p *ngSwitchCase="2">value is 2</p>
    <p *ngSwitchCase="3">value is 3</p>
  </div> -->
</div>
